<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Tinbos iom User</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" /> 
	 <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
	function validateForm(ackno) {
		$(".modal-body #ackno").val(ackno);    
	return true;
}
/*]]>*/
</script>
	
</head>
<body>
	<header class="site-header">
		<div class="top">
         </div>
         <nav class="navbar navbar-default">
         	<div class="container">
         		<a th:href="@{/user/home}" class="navbar-brand">
					<img th:src="@{/img/karlogo.png}" alt="Post"></img>
				</a>
				
				<ul class="nav navbar-nav main-navbar-nav">
					<li ><a th:href="@{/user/home}" class="btn-block" role="button">Home</a></li>
					<li class="active"><a th:href="@{/user/submit}" class="btn-block" role="button">Courier Update</a></li>
					<li ><a th:href="@{/user/report}" class="btn-block" role="button">Report</a></li>
				</ul>
				
				<div class="collapse navbar-collapse" id="bs-navbar-collapse">
					<ul class="nav navbar-nav main-navbar-nav">	
						<form th:action="@{/logout}" method="get"><span th:utext="${userName}"></span>  .<button class="btn btn-primary" name="logout" type="Submit" >Logout</button></form>						 
					</ul>
				</div>
       	</div>
     </nav>
</header>

	<body>
	<br></br>
	<br></br>
		<div class="container font">
			<div class="row loginpanelspace">
				<div class="login-panel panel panel-primary ppanel">
					<div class="panel-heading">
                         <div class="row">
                        <div class="col-sm-10">
                        <h3 class="panel-title">User Interface</h3>
                        </div>
                        <div class="col-sm-2">
                        <span th:utext="${branchname}"></span>
                        </div>
                       </div>                 
                    </div>
                    <!-- Get Report Panel Start -->
                    	<form autocomplete="off" action="#" th:action="@{/user/submit}" th:object="${reportRequeast}" method="post" class="form-horizontal" role="form" id="GetReport">
                    		<br></br>
                    		<div class="form-group">
							<div class="col-sm-4"></div>
							<div class="col-sm-8">
                    		<div class="col-sm-1">
                 			<strong>Date:</strong>
                 			</div>
                 			<div class="col-sm-3">
                				<input class="form-control" type="date" th:field="*{reqdate}" placeholder="DD-MM-YYYY" />
                				<label th:if="${#fields.hasErrors('reqdate')}" th:errors="*{reqdate}"
								           class="validation-message" style="color: red"></label>
                			</div>
                				<button class="btn btn-primary" name="getData" type="Submit" >Search</button>	
                    		</div>
                    		
                    		<div th:if="${reportRequeast.status == 'V'}" class="form-group">
                    		<div class="col-sm-3"></div>
							<div class="col-sm-6">
							<br></br>
					             	 <div class="form-group">
					             	 <div class="row">
					             	 <center>           
										<div class="col-sm-1"></div>
					             	 	<div class="row">
										<strong class="form-control">
					             	 		<a>Pan: </a>
					             	 		<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>
											<a>Pran:</a>
											<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>
											<a>Etds:</a>
											<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>
											<a>tan:</a>
											<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>
											<a>PaperReturn:</a>
											<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>
											<a>Air:</a>
											<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>
											<a>24G:</a>
											<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>		
					             	 	</strong>
					             	 </div>
					             </div>
					             </center>
					         </div>                 
					        </div>
                    		
                    		<div class="col-sm-4"></div>
							<div class="col-sm-4">
							     	 <div class="form-group">
					             	 <div class="row">
					             	 <center>           
										<div class="col-sm-1"></div>
					             	 	<div class="row">
										<strong class="form-control">
					             	 		<a>Total: </a>
					             	 		<!-- <var th:utext="${centerName}"></var> -->
											<var>_</var>
											<a>Reference No:</a>
											<!-- <var th:utext="${centerName}"></var> -->		
					             	 	</strong>
					             	 </div>
					             </div>
					             </center>
					         </div>   
							        
					        </div>
					        </div>
					       <div th:if="${reportRequeast.status == 'V'}">
					       	<div  class="form-group">
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-10">
					            	<div class="col-sm-2">
								<strong>Courier Details:</strong>
							</div>
							<div class="col-sm-4">
							<select class="form-control" id="type">
                                <option th:value="Indian_Postal_Services" th:text="Indian_Postal_Services"></option>
                                <option th:value="First_Flight_Courier_Limited" th:text="First_Flight_Courier_Limited"></option>
                                <option th:value="Blue_Dart_Express_Limited" th:text="Blue_Dart_Express_Limited"></option>
                                <option th:value="DTDC_Courier" th:text="DTDC_Courier"></option>
                                <option th:value="The_Professional_Courier_Ltd" th:text="The_Professional_Courier_Ltd"></option>
                                <option th:value="FedEx_India" th:text="FedEx_India"></option>
                                <option th:value="Gati_Limited" th:text="Gati_Limited"></option>
                                <option th:value="DHL_Express_India_Pvt_Ltd" th:text="DHL_Express_India_Pvt_Ltd"></option>
                                <option th:value="TNT_Express" th:text="TNT_Express"></option>
                                <option th:value="Other" th:text="Other"></option>
                			</select>	
                			</div>

                			<div class="col-sm-3">
                				<input class="form-control" type="text"  placeholder="Tracking Id" />
                			</div>
                			<div class="col-sm-2">
                				<input class="form-control" type="text"  placeholder="Remarks" />
                			</div>
                			
                			<button class="btn btn-primary" name="getData" type="Submit" >Submit</button>
                			</div>
					            </div>
					            </div>
					            </div>
					       
					       
                    		<div class="col-sm-2"></div>
                    		<div class="col-sm-2"></div>
							<div class="col-sm-4">
                        			<span th:utext="${msg}" style="color: red"></span>
                        	</div>
                        	</div>
                    	 </form>
               		<!-- Get Report Panel End --> 
				</div>
			</div>
		</div>
	</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>